.content .container .headline{
  background-color: #BFD3EB;
}

.content .container .text{
  background-color: #EEF1F6;
  font-size: 18px;
}

.content .fusszeile{
  border-top: 1px solid #BFD3EB;
  border-bottom: 1px solid #BFD3EB;
  margin-bottom: 10px;
  padding: 5px;
}

.content .fusszeile ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
